<!DOCTYPE html>
<html>
  <head>
    <title>Jukebox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to "List Songs", songs_url %></li>
      <li><%= link_to "Create Song", new_song_url %></li>
    </ul>

    <h1>This is my jukebox site</h1>
    <%= yield %>
  </body>
</html>
